@media (prefers-color-scheme: dark) {
    :root {
        --bg-color: #000000;
        --text-color: #ffffff;
    }
}

@media (prefers-color-scheme: light) {
    :root {
        --bg-color: #f0f0f0;
        --text-color: #000000;
    }
}

body {
    font-family: 'Outfit', sans-serif;
    margin: 0;
    padding: 0;
    overflow: hidden;
    touch-action: none;
    background: var(--bg-color);
}

.control-container {
    position: absolute;
    bottom: 24px;
    left: 50%;
    transform: translateX(-50%);
    display: none;
    flex-direction: column;
    gap: 15px;
    background: rgba(255, 255, 255, 0.8);
    padding: 24px;
    border-radius: 16px;
    z-index: 1000;
}

.checkbox-container {
    display: flex;
    gap: 20px;
}

.sliders-container {
    display: flex;  /* Change from 'flex' to 'none' to hide */
    flex-direction: column;
    gap: 10px;
}

.slider-control {
    display: flex;
    align-items: center;
    gap: 10px;
}

.slider-control label {
    min-width: 80px;
}

.slider-control input[type="range"] {
    width: 150px;
}

.slider-control span {
    min-width: 40px;
    text-align: right;
}

.control-container label {
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    user-select: none;
    font-size: 16px;
}

.control-container input[type="checkbox"] {
    width: 20px;
    height: 20px;
}

.container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.container-content {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.github-link {
    color: var(--text-color);
    opacity: 0.8;
    margin-top: 36px;
    transition: opacity 0.2s ease;
}

.github-link:hover {
    opacity: 1;
}

.github-link img {
    width: 24px;
    height: 24px;
    filter: invert(var(--text-color-invert));
}

@media (prefers-color-scheme: dark) {
    .github-link img {
        filter: invert(1);
    }
}

@media (prefers-color-scheme: light) {
    .github-link img {
        filter: invert(0);
    }
}

.title {
    margin-top: 36px;
    font-family: 'Outfit', sans-serif;
    font-size: 2rem;
    font-weight: 500;
    color: var(--text-color);
    text-align: left;
}

@media (max-width: 768px) {
    .control-container {
        width: 90%;
        max-width: 300px;
        padding: 12px;
        gap: 15px;
    }
    
    .checkbox-container {
        flex-direction: column;
        gap: 10px;
    }

    .title {
        font-size: 2rem;
        margin-top: 20px;
        padding: 0 20px;
    }

    .github-link {
        margin-right: 20px;
        margin-top: 20px;
    }
    
    .container-content {
        padding: 0 20px;
    }
}